fastapi
uvicorn[standard]
python-multipart
httpx
numpy
opencv-python==4.10.0.84
opencv-contrib-python==4.10.0.84
scipy
mediapipe
protobuf>=3.20.3,<4
matplotlib
scikit-image
pydantic
starlette
pillow
requests
python-dotenv
torch
torchvision
huggingface_hub==0.20.2
diffusers==0.24.0
transformers==4.36.2
accelerate==0.26.1
einops==0.7.0
config==0.5.1
safetensors>=0.4.0
yacs
kornia
chumpy
onnx==1.16.1
onnxruntime==1.18.0
pyyaml
rich
imageio
imageio-ffmpeg
tyro
pykalman
